<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cp2y.cube">

    <!-- 百度地图的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".CubeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <!--app update fileProvider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 腾讯应用分析 -->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.cp2y.cube.TENCENT.MID.V3"
            android:exported="true" />

        <meta-data
            android:name="TA_APPKEY"
            android:value="Aqc1105994284" />
        <!-- 请将value改为app发布对应的渠道，不同的发布渠道使用不同的名字 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="${CHANNEL_VALUE}" />
        <!-- 注意：若填写的渠道为纯数字字符串类型，请不要超过int表示的范围！ < -->


        <!-- 百度Map开发key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="LaO6Mbcgm4wijbNyaCG2s6k8jGQ5kYMs" />
        <!-- 渠道号 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <!-- 友盟key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58a11b3c99f0c77aad000217" />
        <!--JPush 接收-->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.cp2y.cube" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.main.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!-- 横屏不重走生命周期 -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- 禁止横屏 -->
        <!-- android:configChanges="orientation" -->
        <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".activity.FilterActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 启动模式 -->
        <activity
            android:name=".activity.PoiDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenLotteryActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.trends.TrendActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryOpenLotteryactivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenLotterySummaryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.SelectNumFilterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilterResultActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NumLibraryDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.trend.color.TrendBaseActivity"
            android:label="@string/title_activity_trend_base"
            android:theme="@style/AppTheme" />
        <!-- 横竖屏不重走生命周期 -->
        <activity
            android:name=".activity.trends.TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.DoubleBallRuleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!-- 微信分享注册 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ分享注册 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.TrendDialogBaseAcitvity" />
        <activity
            android:name=".activity.trends.LottoTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.selectnums.LottoSelectNumActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.doubleball.IgnoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ignore.DoubleBaseActivity" />
        <activity
            android:name=".activity.ignore.doubleball.PartIgnoreActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.lotto.IgnoreLottoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.lotto.PartIgnoreLottoActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recognize.CameraActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recognize.CheckLotteryActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recognize.CheckNumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.news.NewsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.news.LotteryNewsDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.news.NewsSummaryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.Select3DNumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.SelectCQ3XingNumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.SelectCQ2XingNumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.SelectCQ5NumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.SelectP3NumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.trends.D3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.trends.P3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.trends.CQ3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.trends.CQ5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.trends.CQ2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.ignore.fucai3d.PartIgnore3DActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.fucai3d.Ignore3DActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.pailie3.PartIgnoreP3Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.chongqing3.PartIgnoreCQ3Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.chongqing2.PartIgnoreCQ2Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.pailie3.IgnoreP3Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.chongqing3.IgnoreCQ3Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.chongqing2.IgnoreCQ2Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.numlibrary.NumLibraryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainBaseActivity" />
        <activity
            android:name=".activity.WeChatLoginActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomProvinceActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomProvinceDetailActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FastLotteryHistoryActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RulesActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.h5trends.HD15xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.QiLeCaiTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.QiXingCaiTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.DF61TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.AnHuiKuai3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangXiKuai3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ZheJiangKLCTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.NeiMengKuai3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.SHShiShiLeTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.SH11Xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.SH11Xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.SH11Xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJ18xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJ25xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJ35xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.BJ3DTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.SH4DTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJShiShiCai5XingTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJShiShiCai3XingTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJShiShiCai2XingTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJ11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJ11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.XJ11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.BJ11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.BJ11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.BJ11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TianJinKLSFTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TJShiShiCai5XingTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TJShiShiCai3XingTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TJShiShiCai2XingTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TJ11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TJ11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.TJ11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.CustomUploadActivity" />
        <activity
            android:name=".activity.h5trends.Zhejiang61TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Zhejiang20xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangD36xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangD26xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ShenZFC35xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.JiangSu7WeiShuTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Zhejiang11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Zhejiang11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Zhejiang11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Guangdong11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Guangdong11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Guangdong11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Shandong11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Shandong11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Shandong11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Liaoning11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Liaoning11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Liaoning11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Liaoning35xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Anhui25xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Hebei20xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HebeiFCSZ5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HebeiFCSZ7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Henan22xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Hubei30xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Fujian22xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Fujian31xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Fujian36xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Hubei11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Hubei11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Hubei11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.Heilongjiang22xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HeiLongJiang36xuan7TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HeiLongJiangP62TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HeiLongJiang61TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ShanXi11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ShanXi11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ShanXi11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.JiangXi11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.JiangXi11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.JiangXi11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangXiKLSCTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangXiKLSFTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangdongKLSFTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangXi11xuan5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangXi11xuan5Q3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangXi11xuan5Q2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HuBeiKuai3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.JiangSuKuai3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.JiangXiKuai3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.GuangDongHaoCaiYiTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.KuaiLePuKeTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ChongQingKLSFTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ChongQingKLSFZhiTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.ChongQingKLSFZuTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HNXingYunCarAllTrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HNXingYunCarQ2TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.h5trends.HNXingYunCarZu3TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.Termctivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectnums.SelectP5NumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.trends.P5TrendPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.ignore.pailie5.IgnoreP5Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.pailie5.PartIgnoreP5Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.chongqing5.IgnoreCQ5Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ignore.chongqing5.PartIgnoreCQ5Activity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneLoginActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.MyPushSingleActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.MyAttentionFansActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.PushSingleActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.SelectSingleActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.PushSingleSummaryActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.PushSingleChangeSummaryActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pushsingle.PersonalActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PushSettingActivity" />
        <activity android:name=".activity.calculate.CalculateActivity" />
        <activity android:name=".activity.multicalc.MultiCalcActivity"></activity>
    </application>

</manifest>